In [76]:
import pandas as pd

In [77]:
csv_2012 = pd.read_csv('2012.csv')
csv_2013 = pd.read_csv('2013.csv')
csv_2014 = pd.read_csv('2014.csv')
csv_2015 = pd.read_csv('2015.csv')
csv_2016 = pd.read_csv('2016.csv')
csv_2017 = pd.read_csv('2017.csv')
csv_2018 = pd.read_csv('2018.csv')
csv_2019 = pd.read_csv('2019.csv')
csv_2020 = pd.read_csv('2020.csv')
csv_2021 = pd.read_csv('2021.csv')
csv_2022 = pd.read_csv('2022.csv')

In [78]:
csv_2012.head()

,Weekly Infectious Disease Bulletin - Year 2012,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Polyclinic attendances - Average Daily numbers,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,Epidemiology Wk,Start,End,Cholera,Paratyphoid,Typhoid,Viral Hepatitis A,Viral Hepatitis E,Poliomyelitis,Plague,...,Meningococcal Infection,Pertussis,Pneumococcal Disease (invasive),Haemophilus influenzae type b,Salmonellosis(non-enteric fevers),Avian Influenza,Acute Upper Respiratory Tract infections,Acute Conjunctivitis,Acute Diarrhoea,Chickenpox
1,1,2012-01-01 00:00:00,2012-01-07 00:00:00,0,1,6,1,3,0,0,...,0,2,3,0,26,0,2932.222222222222,119.77777777777777,490.8888888888889,18
2,2,2012-01-08 00:00:00,2012-01-14 00:00:00,0,1,3,2,0,0,0,...,0,0,3,0,24,0,3188.7272727272725,113.81818181818181,575.0909090909091,19.09090909090909
3,3,2012-01-15 00:00:00,2012-01-21 00:00:00,0,1,5,3,0,0,0,...,0,5,3,0,21,0,3184.5454545454545,106,538.9090909090909,16.363636363636363
4,4,2012-01-22 00:00:00,2012-01-28 00:00:00,0,1,1,3,2,0,0,...,0,0,2,0,12,0,4000.5714285714284,118,614.5714285714286,24.285714285714285

In [79]:
#concat 

combined_hospital = pd.concat([csv_2019, csv_2020, csv_2021, csv_2022])

combined_hospital.to_csv('combined_hospital.csv', index=False)

combined_hospital

,Weekly Infectious Disease Bulletin - Year 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Ebola Virus Disease,Japanese Encephalitis,Tetanus,Botulism,Murine Typhus,Acute Upper Respiratory Tract infections,Acute Conjunctivitis,Acute Diarrhoea,Chickenpox,Monkeypox
0,Epidemiology Wk,Start,End,Cholera,Paratyphoid,Typhoid,Acute Viral Hepatitis A,Acute Viral Hepatitis E,Poliomyelitis,Plague,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018-12-30 00:00:00,2019-01-05 00:00:00,0,0,2,5,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-06 00:00:00,2019-01-12 00:00:00,0,2,6,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-13 00:00:00,2019-01-19 00:00:00,0,0,2,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-20 00:00:00,2019-01-26 00:00:00,0,2,2,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2009.0,49.0,331.0,5.0,0.0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1989.0,57.0,355.0,4.0,0.0
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,2092.0,47.0,325.0,4.0,0.0
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2168.0,61.0,326.0,6.0,0.0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:

combined_hospital = pd.concat([csv_2017, csv_2018, csv_2019, csv_2020])

combined_hospital.to_csv('combined_hospital1.csv', index=False)

combined_hospital

,Weekly Infectious Disease Bulletin - Year 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 39,Unnamed: 40,Polyclinic attendances - Average Daily numbers,Unnamed: 42,Unnamed: 43,Unnamed: 44,Weekly Infectious Disease Bulletin - Year 2018,Weekly Infectious Disease Bulletin - Year 2019,Unnamed: 41,Weekly Infectious Disease Bulletin - Year 2020
0,Epidemiology Wk,Start,End,Cholera,Paratyphoid,Typhoid,Acute Viral Hepatitis A,Acute Viral Hepatitis E,Poliomyelitis,Plague,...,Botulism,Murine Typhus,Acute Upper Respiratory Tract infections,Acute Conjunctivitis,Acute Diarrhoea,Chickenpox,NaN,NaN,NaN,NaN
1,1,2017-01-01 00:00:00,2017-01-07 00:00:00,0,3,3,2,3,0,0,...,0,0,2721.1111111111113,105.77777777777777,517.7777777777778,19.555555555555557,NaN,NaN,NaN,NaN
2,2,2017-01-08 00:00:00,2017-01-14 00:00:00,0,1,4,0,1,0,0,...,0,0,2864.181818181818,91.27272727272727,542.5454545454545,17.272727272727273,NaN,NaN,NaN,NaN
3,3,2017-01-15 00:00:00,2017-01-21 00:00:00,0,0,3,2,2,0,0,...,0,0,3059.6363636363635,90.54545454545455,558,16.363636363636363,NaN,NaN,NaN,NaN
4,4,2017-01-22 00:00:00,2017-01-28 00:00:00,0,0,2,1,0,0,0,...,0,0,3002.2,81.8,508.8,13,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,NaN,29/11/2020,05/12/2020,0,0,0,0,2,0,0,...,0,0,NaN,42.54545454545455,263.27272727272725,3.8181818181818183,NaN,NaN,769.2727272727273,49
50,NaN,06/12/2020,12/12/2020,0,0,0,0,0,0,0,...,0,0,NaN,42.54545454545455,279.45454545454544,3.6363636363636362,NaN,NaN,778.5454545454545,50
51,NaN,13/12/2020,19/12/2020,0,0,0,0,0,0,0,...,0,0,NaN,41.09090909090909,274.1818181818182,3.090909090909091,NaN,NaN,783.8181818181819,51
52,NaN,20/12/2020,26/12/2020,0,0,0,0,1,0,0,...,0,0,NaN,47.5,278.75,5,NaN,NaN,848.25,52
53,NaN,27/12/2020,02/01/2021,0,0,0,1,0,0,0,...,0,0,NaN,44.75,309,4.25,NaN,NaN,849.25,53

## NEW

In [81]:
csv_2012 = pd.read_csv('2012.csv')
csv_2013 = pd.read_csv('2013.csv')
csv_2014 = pd.read_csv('2014.csv')
csv_2015 = pd.read_csv('2015.csv')
csv_2016 = pd.read_csv('2016.csv')
csv_2017 = pd.read_csv('2017.csv')
csv_2018 = pd.read_csv('2018.csv')
csv_2019 = pd.read_csv('2019.csv')
csv_2020 = pd.read_csv('2020.csv')
csv_2021 = pd.read_csv('2021.csv')
csv_2022 = pd.read_csv('2022.csv')

In [82]:
csv_2019.head()

,Weekly Infectious Disease Bulletin - Year 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Epidemiology Wk,Start,End,Cholera,Paratyphoid,Typhoid,Acute Viral Hepatitis A,Acute Viral Hepatitis E,Poliomyelitis,Plague,...,Zika,Ebola Virus Disease,Japanese Encephalitis,Tetanus,Botulism,Murine Typhus,Acute Upper Respiratory Tract infections,Acute Conjunctivitis,Acute Diarrhoea,Chickenpox
1,1,2018-12-30 00:00:00,2019-01-05 00:00:00,0,0,2,5,1,0,0,...,0,0,0,0,0,0,3477.5,122.5,631,15.75
2,2,2019-01-06 00:00:00,2019-01-12 00:00:00,0,2,6,2,0,0,0,...,0,0,0,0,0,1,3290.909090909091,99.81818181818181,619.8181818181819,14.545454545454545
3,3,2019-01-13 00:00:00,2019-01-19 00:00:00,0,0,2,1,0,0,0,...,2,0,0,0,0,0,3390.5454545454545,99.45454545454545,632.9090909090909,12.909090909090908
4,4,2019-01-20 00:00:00,2019-01-26 00:00:00,0,2,2,1,0,0,0,...,0,0,0,0,0,1,3407.818181818182,95.63636363636364,600.5454545454545,14.909090909090908

In [83]:
csv_2020.head()

,Weekly Infectious Disease Bulletin - Year 2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Epidemiology Wk,Start,End,Cholera,Paratyphoid,Typhoid,Acute Viral Hepatitis A,Acute Viral Hepatitis E,Poliomyelitis,Plague,...,Zika,Ebola Virus Disease,Japanese Encephalitis,Tetanus,Botulism,Murine Typhus,Acute Upper Respiratory Tract infections,Acute Conjunctivitis,Acute Diarrhoea,Chickenpox
1,1,29/12/2019,04/01/2020,0,0,1,2,1,0,0,...,0,0,0,0,0,0,3841.5,125.25,639.75,21
2,2,05/01/2020,11/01/2020,0,1,2,1,0,0,0,...,0,0,0,0,0,0,3585.090909090909,108,604.1818181818181,16.181818181818183
3,3,12/01/2020,18/01/2020,0,0,2,1,1,0,0,...,0,0,0,0,0,0,3707.818181818182,105.81818181818181,589.4545454545455,15.090909090909092
4,4,19/01/2020,25/01/2020,0,1,3,1,0,0,0,...,0,0,0,0,0,1,3810.6666666666665,96.66666666666667,625.5555555555555,12.666666666666666

In [84]:




# # Clean and standardize column names for the 2019 data
# csv_2019.columns = csv_2019.iloc[0]
# csv_2019

# # Clean and standardize column names for the 2020 data
# csv_2020.columns = csv_2020.iloc[0]
# csv_2020 

# csv_2021.columns = csv_2021.iloc[0]
# csv_2021 

# csv_2022.columns = csv_2022.iloc[0]
# csv_2022

# # Standardize the column names (optional step to clean column names if needed)
# csv_2019.columns = csv_2019.columns.str.strip()
# csv_2020.columns = csv_2020.columns.str.strip()
# csv_2021.columns = csv_2021.columns.str.strip()
# csv_2022.columns = csv_2022.columns.str.strip()




# # Merge the two datasets
# df_merged1 = pd.concat([csv_2019, csv_2020])
# df_merged2 = pd.concat([df_merged1, csv_2021])
# df_merged3 = pd.concat([df_merged2, csv_2022])


# # Display the merged dataframe
# # tools.display_dataframe_to_user(name="Merged DataFrame 2019 and 2020", dataframe=df_merged)

# df_merged2

In [85]:
# Clean and standardize column names for the 2019 data
csv_2019.columns = csv_2019.iloc[0]
csv_2019.columns = csv_2019.columns.str.strip()
csv_2019 = csv_2019.iloc[1:]  # remove the first row which is now the column names

# Clean and standardize column names for the 2020 data
csv_2020.columns = csv_2020.iloc[0]
csv_2020.columns = csv_2020.columns.str.strip()
csv_2020 = csv_2020.iloc[1:]  # remove the first row which is now the column names

# Clean and standardize column names for the 2021 data
csv_2021.columns = csv_2021.iloc[0]
csv_2021.columns = csv_2021.columns.str.strip()
csv_2021 = csv_2021.iloc[1:]  # remove the first row which is now the column names

# Clean and standardize column names for the 2022 data
csv_2022.columns = csv_2022.iloc[0]
csv_2022.columns = csv_2022.columns.str.strip()
csv_2022 = csv_2022.iloc[1:]  # remove the first row which is now the column names

# Rename columns to make them unique
csv_2019.columns = [f"2019_{col}" for col in csv_2019.columns]
csv_2020.columns = [f"2020_{col}" for col in csv_2020.columns]
csv_2021.columns = [f"2021_{col}" for col in csv_2021.columns]
csv_2022.columns = [f"2022_{col}" for col in csv_2022.columns]

# Merge the two datasets
df_merged1 = pd.concat([csv_2019, csv_2020], axis=1)
df_merged2 = pd.concat([df_merged1, csv_2021], axis=1)
df_merged3 = pd.concat([df_merged2, csv_2022], axis=1)

# Display the merged dataframe
df_merged3

,2019_Epidemiology Wk,2019_Start,2019_End,2019_Cholera,2019_Paratyphoid,2019_Typhoid,2019_Acute Viral Hepatitis A,2019_Acute Viral Hepatitis E,2019_Poliomyelitis,2019_Plague,...,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan,2022_nan
1,1,2018-12-30 00:00:00,2019-01-05 00:00:00,0,0,2,5,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1263.0,43.0,330.0,2.0
2,2,2019-01-06 00:00:00,2019-01-12 00:00:00,0,2,6,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1567.0,44.0,316.0,2.0
3,3,2019-01-13 00:00:00,2019-01-19 00:00:00,0,0,2,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1911.0,41.0,317.0,1.0
4,4,2019-01-20 00:00:00,2019-01-26 00:00:00,0,2,2,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2945.0,47.0,363.0,4.0
5,5,2019-01-27 00:00:00,2019-02-02 00:00:00,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2645.0,39.0,323.0,3.0
6,6,2019-02-03 00:00:00,2019-02-09 00:00:00,0,0,1,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,3256.0,35.0,317.0,3.0
7,7,2019-02-10 00:00:00,2019-02-16 00:00:00,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3247.0,37.0,293.0,2.0
8,8,2019-02-17 00:00:00,2019-02-23 00:00:00,0,0,0,2,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2982.0,33.0,309.0,3.0
9,9,2019-02-24 00:00:00,2019-03-02 00:00:00,0,0,2,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2626.0,36.0,292.0,2.0
10,10,2019-03-03 00:00:00,2019-03-09 00:00:00,1,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2071.0,37.0,269.0,4.0
11,11,2019-03-10 00:00:00,2019-03-16 00:00:00,0,0,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1817.0,41.0,326.0,3.0
12,12,2019-03-17 00:00:00,2019-03-23 00:00:00,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1497.0,36.0,328.0,3.0
13,13,2019-03-24 00:00:00,2019-03-30 00:00:00,0,0,2,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1469.0,40.0,374.0,2.0
14,14,2019-03-31 00:00:00,2019-04-06 00:00:00,0,0,0,2,4,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1439.0,43.0,388.0,4.0
15,15,2019-04-07 00:00:00,2019-04-13 00:00:00,0,0,1,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1467.0,37.0,408.0,4.0
16,16,2019-04-14 00:00:00,2019-04-20 00:00:00,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1431.0,40.0,416.0,4.0
17,17,2019-04-21 00:00:00,2019-04-27 00:00:00,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1663.0,45.0,499.0,2.0
18,18,2019-04-28 00:00:00,2019-05-04 00:00:00,0,2,1,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1708.0,39.0,438.0,4.0
19,19,2019-05-05 00:00:00,2019-05-11 00:00:00,0,0,1,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1975.0,42.0,412.0,3.0
20,20,2019-05-12 00:00:00,2019-05-18 00:00:00,0,0,2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1889.0,40.0,404.0,4.0
21,21,2019-05-19 00:00:00,2019-05-25 00:00:00,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1650.0,32.0,340.0,3.0
22,22,2019-05-26 00:00:00,2019-06-01 00:00:00,0,0,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1744.0,32.0,362.0,4.0
23,23,2019-06-02 00:00:00,2019-06-08 00:00:00,0,0,2,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1806.0,40.0,340.0,5.0
24,24,2019-06-09 00:00:00,2019-06-15 00:00:00,0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2093.0,39.0,352.0,6.0
25,25,2019-06-16 00:00:00,2019-06-22 00:00:00,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2576.0,45.0,387.0,5.0
26,26,2019-06-23 00:00:00,2019-06-29 00:00:00,0,0,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2910.0,36.0,382.0,3.0
27,27,2019-06-30 00:00:00,2019-07-06 00:00:00,0,0,0,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3217.0,36.0,366.0,4.0
28,28,2019-07-07 00:00:00,2019-07-13 00:00:00,0,0,0,0,0,0,0,...,NaN,0.0,0.0,0.0,0.0,0.0,3018.0,41.0,367.0,4.0
29,29,2019-07-14 00:00:00,2019-07-20 00:00:00,1,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2907.0,39.0,374.0,3.0
30,30,2019-07-21 00:00:00,2019-07-27 00:00:00,0,0,2,4,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2667.0,41.0,400.0,4.0
31,31,2019-07-28 00:00:00,2019-08-03 00:00:00,0,0,5,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2674.0,44.0,406.0,4.0
32,32,2019-08-04 00:00:00,2019-08-10 00:00:00,0,0,11,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2326.0,43.0,395.0,4.0
33,33,2019-08-11 00:00:00,2019-08-17 00:00:00,0,0,2,2,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,2121.0,47.0,399.0,3.0
34,34,2019-08-18 00:00:00,2019-08-24 00:00:00,0,0,3,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1998.0,44.0,357.0,3.0
35,35,2019-08-25 00:00:00,2019-08-31 00:00:00,0,1,3,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2054.0,37.0,337.0,3.0
36,36,2019-09-01 00:00:00,2019-09-07 00:00:00,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2500.0,51.0,394.0,4.0
37,37,2019-09-08 00:00:00,2019-09-14 00:00:00,0,0,1,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2516.0,50.0,389.0,3.0
38,38,2019-09-15 00:00:00,2019-09-21 00:00:00,0,0,0,2,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2590.0,47.0,349.0,3.0
39,39,2019-09-22 00:00:00,2019-09-28 00:00:00,0,0,1,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2865.0,46.0,340.0,3.0
40,40,2019-09-29 00:00:00,2019-10-05 00:00:00,0,0,2,0,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3514.0,40.0,351.0,3.0
41,41,2019-10-06 00:00:00,2019-10-12 00:00:00,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3342.0,46.0,328.0,3.0
42,42,2019-10-13 00:00:00,2019-10-19 00:00:00,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,3142.0,56.0,369.0,2.0
43,43,2019-10-20 00:00:00,2019-10-26 00:00:00,0,0,1,2,1,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,2595.0,51.0,371.0,3.0
44,44,2019-10-27 00:00:00,2019-11-02 00:00:00,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2294.0,51.0,393.0,4.0
45,45,2019-11-03 00:00:00,2019-11-09 00:00:00,0,0,1,3,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2184.0,46.0,348.0,3.0
46,46,2019-11-10 00:00:00,2019-11-16 00:00:00,0,0,1,2,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2111.0,54.0,351.0,5.0
47,47,2019-11-17 00:00:00,2019-11-23 00:00:00,0,1,2,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,49.0,331.0,5.0
48,48,2019-11-24 00:00:00,2019-11-30 00:00:00,0,1,1,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1989.0,57.0,355.0,4.0
49,49,2019-12-01 00:00:00,2019-12-07 00:00:00,0,1,0,2,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,2092.0,47.0,325.0,4.0
50,50,2019-12-08 00:00:00,2019-12-14 00:00:00,0,0,5,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,2168.0,61.0,326.0,6.0
51,51,2019-12-15 00:00:00,2019-12-21 00:00:00,0,0,0,2,2,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,2019-12-22 00:00:00,2019-12-28 00:00:00,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df_merged3.to_csv('hospital_final.csv')

In [87]:
death = pd.read_csv('Transformed_Dengue_Death_Rate_Data.csv')

death['Year'].dtype

dtype('int64')

In [88]:
death['Year'] = pd.to_datetime(death['Year'], format='%Y')

In [89]:
print(death['Year'].dtype)

datetime64[ns]

In [91]:
death

death.to_csv('dengue_death.csv')